<!DOCTYPE html>
<html>
<head>
	<title>Delete Confirmation</title>
</head>
<body>
	<center>
		<div>
			<h1>Delete Confirmation</h1> 		
		</div>

		<a href="/home/alluser"> Back to User Details</a> |
		<a href="/logout"> Logout</a><br>

		<form method="post">
			<table>
				<tr>
					<td>Id</td>
					<td><%=user.id%></td>
				</tr>
				<tr>
					<td>Name</td>
					<td><%=user.name%></td>
				</tr>
				<tr>
					<td>Contact</td>
					<td><%=user.contact%></td>
				</tr>
				<tr>
					<td>Username</td>
					<td><%=user.username%></td>
				</tr>
				<tr>
					<td>Password :</td>
					<td><%=user.password%></td>
				</tr>
				<tr>
					<td>Type :</td>
					<td><%=user.type%></td>
				</tr>
				<tr>
					<td><strong>Are you confirm to delete?</strong></td>
					<td><input type="submit" name="submit" value="Confirm"></td>
				</tr>
			</table>
		</form>
	</center>
</body>
</html>